<!DOCTYPE html>
{% load static %}
<html lang="en">
    
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Maximus</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script defer src="https://use.fontawesome.com/releases/v5.1.0/js/all.js" integrity="sha384-3LK/3kTpDE/Pkp8gTNp2gR/2gOiwQ6QaO7Td0zV76UFJVhqLl4Vl3KL1We6q6wR9" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="{% static 'muscle/style.css' %}">
        <script src="main.js"></script>
    </head>
    <body>
        <div class="wrapper">
            <!-- HEADER -->
            <header>
            <div class="netflixLogo">
                <a id="logo" href="#home"><img src="{% static 'muscle/images/logo.png'%}" alt="Logo Image"></a>
            </div>      
            <nav class="main-nav">                
                <a href="#home">Accueil</a>
            </nav>
            <nav class="sub-nav">
                <a href="#"><i class="fas fa-search sub-nav-logo"></i></a>
                <a href="#"><i class="fas fa-bell sub-nav-logo"></i></a>       
            </nav>
            </header>
            <!-- END OF HEADER -->
            <!-- HEADER -->
            <section class="header_container">
                <div class="head">
                    <h1>Maximus Mięsień</h1>
                    <p>
                        Appelé « MAXIMUS » par plusieurs et répondant également sous l’acronyme « GOAT » ou Greatest Of All Time, Maxime Mięsień est un bodybuilder originaire de Paris (personne n'est parfait) qui est sorti vainqueur de plusieurs compétitions depuis les années 2020. Ayant actuellement déjà pris sa retraite, il ne perd pas en popularité et est reconnu par beaucoup comme étant le meilleur dans son domaine. 
                    </p>
                </div>
            </section>

            <!-- MAIN CONTAINER -->
            <section class="main-container" >
            <div class="location" id="home">
                <h1 id="home">Un homme aux multiples talents</h1>
                <div class="box">
                    <a href="">
                        <video controls class="myvideo">
                            <source src="../../static/muscle/images/RicardoMaximus.mp4" type="video/mp4">
                        </video>
                    </a>
                    <a href="">
                        <video controls class="myvideo">
                            <source src="../../static/muscle/images/IndianM.mov" type="video/mp4">
                        </video>
                    </a>
                    <a href="">
                        <video controls class="myvideo">
                            <source src="../../static/muscle/images/mJo.mov" type="video/mp4">
                        </video>
                    </a>
                    <a href="">
                        <video controls class="myvideo">
                            <source src="../../static/muscle/images/reface-2022-05-13-11-20-36.mp4" type="video/mp4">
                        </video>
                    </a>
                    <a href="">
                        <video controls class="myvideo">
                            <source src="../../static/muscle/images/reface-2022-05-13-11-21-06.mp4" type="video/mp4">
                        </video>
                    </a>
                    <a href="">
                        <video controls class="myvideo">
                            <source src="../../static/muscle/images/reface-2022-05-13-11-21-34.mp4" type="video/mp4">
                        </video>
                    </a>
            
                    <a href="">
                        <video controls class="myvideo">
                            <source src="../../static/muscle/images/reface-2022-05-13-11-28-58.mp4" type="video/mp4">
                        </video>
                    </a>
                    <a href="">
                        <video controls class="myvideo">
                            <source src="../../static/muscle/images/RonnieMaximus.mp4" type="video/mp4">
                        </video>
                    </a>

                    <a href="">
                        <video controls class="myvideo">
                            <source src="../../static/muscle/images/05524240-5b9e-4537-99a1-097606bf32ab.mp4" type="video/mp4">
                        </video>
                    </a>
                    <a href="">
                        <video controls class="myvideo">
                            <source src="../../static/muscle/images/2e9b9917-8765-4824-b7f8-a56739fb8e79.mp4" type="video/mp4">
                        </video>
                    </a>
                    <a href="">
                        <video controls class="myvideo">
                            <source src="../../static/muscle/images/61f8f0aa-99f7-4535-9adb-a2dbfd0962f7.mp4" type="video/mp4">
                        </video>
                    </a>
                    <a href="">
                        <video controls class="myvideo">
                            <source src="../../static/muscle/images/d62ea0af-3b08-4006-bb25-ecaa87b5e18a.mp4" type="video/mp4">
                        </video>
                    </a>
                </div>
            </div>
            <h1 id="myList">Portfolio absolument gênant</h1>
            <div class="box">
                <a href=""><img src="../../static/muscle/images/Group 6.jpg" alt=""></a>
                <a href=""><img src="../../static/muscle/images/Group 7.jpg" alt=""></a>
                <a href=""><img src="../../static/muscle/images/Group 8.jpg" alt=""></a>
                <a href=""><img src="../../static/muscle/images/Group 9.jpg" alt=""></a>
                <a href=""><img src="../../static/muscle/images/maximus.jpg" alt=""></a>
            </div>

            <h1 id="myList">Boutique de stickers Maximus !</h1>
            <div class="box">
                <a href=""><img src="../../static/muscle/images/mhappng.png" alt=""></a>
                <a href=""><img src="../../static/muscle/images/mlovepng.png" alt=""></a>
                <a href=""><img src="../../static/muscle/images/mthugmng.png" alt=""></a>
                <a href=""><img src="../../static/muscle/images/nfnfgnfgn-removebg-preview.png" alt=""></a>
                <a href=""><img src="../../static/muscle/images/wm_animegan_toon_1568368367449-removebg-preview.png" alt=""></a>
                <a href=""><img src="../../static/muscle/images/mshtpng.png" alt=""></a>
            </div>
            <!-- END OF MAIN CONTAINER --> 
            <!-- FOOTER -->
            <footer>
            <p>2022 Maximus, Inc.</p>
            <p>Jojo Front</p>
            </footer>
        </div>
</body>
</html>
